.App {
  text-align: center;
}

nav a {
  color: #000;
  display: inline-block;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: none;
 
}

.header {
  margin-top: 0px;
  width:  100vw;
  height: 70px;
  background: #0747A6;
}